<div class="header">
  <h1>Departamentos</h1>
</div>

<div class="filter">
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Buscar departamento o subárea</mat-label>
    <input matInput [(ngModel)]="filterText" placeholder="Escribe para buscar..." />
  </mat-form-field>
</div>

<div class="department-menu">
  <mat-nav-list>
    <ng-container *ngFor="let dept of filteredDepartments">
      <mat-expansion-panel *ngIf="dept.children; else directLink">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ dept.name }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <a
          mat-list-item
          *ngFor="let child of dept.children"
          [routerLink]="['/', dept.route, child.route]"
        >
          {{ child.name }}
        </a>
      </mat-expansion-panel>

      <ng-template #directLink>
        <a mat-list-item [routerLink]="['/', dept.route]">
          {{ dept.name }}
        </a>
      </ng-template>
    </ng-container>
  </mat-nav-list>
</div>